/* font added */
.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared style */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{       
    font-weight: bold;
    color: white;
    border-radius: 5px;    
    font-size: 20px;
    padding: 20px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
}
.text-center{
    text-align: center;
}
/* Logo */
.logo{
    font-size: 45px;
    font-weight: 800;
}
/* nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;

    
}
nav ul li{
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    font-size: 20;
}
